[client]
host     = localhost
user     = root
password = ${MYSQL_ROOT_PASSWORD}
socket   = /var/run/mysqld/mysqld.sock
[mysql_upgrade]
host     = localhost
user     = root
password = ${MYSQL_ROOT_PASSWORD}
socket   = /var/run/mysqld/mysqld.sock
